[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-admin-honeypot = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
django-querycount = "*"
pytest-factoryboy = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
